In [2]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# read the data

UK_customers_data = pd.read_pickle("../data/UK_customers_rfm.pkl")

# preview the data

UK_customers_data.head(n = 3)

            Frequency  Monetary  Recency
CustomerID
u12346              1  77183.60      325
u12747             11   3763.01        1
u12748            202  28308.44        0

In [6]:
# distribution of the data

UK_customers_data.describe()

         Frequency       Monetary      Recency
count  3891.000000    3891.000000  3891.000000
mean      4.193010    1625.351723    90.868928
std       7.045063    6744.803129    99.393812
min       1.000000       0.000000     0.000000
25%       1.000000     243.430000    17.000000
50%       2.000000     548.280000    49.000000
75%       5.000000    1368.345000   140.500000
max     202.000000  221190.810000   373.000000

In [7]:
# print the number of customers
print("Total Number of Customers:", (UK_customers_data.shape[0]))

Total Number of Customers: 3891

In [ ]:
# cluster the customer data

# step 1: scale the data

scaler = StandardScaler()

scaler.fit(UK_customers_data)

UK_customers_scaled = scaler.transform(UK_customers_data)
print('New std deviation:', users_data_scaled.std())
print('New mean:', round(users_data_scaled.mean()))

# normalized data has a mean of 0 and std of 1

In [ ]:
# step 2: identify optimal number of clusters we want to segment the data

def optimal_number_clusters(data_scaled):
    """
    Calculates optimal number of clusted based on Elbow Method
    
    parameters: scaled data
    """
    Sum_of_squared_distances = []
    K = range(1, 30) # define the range of clusters we would like to cluster the data into

    for k in K:
        km = KMeans(n_clusters = k)
        km = km.fit(data_scaled)
        Sum_of_squared_distances.append(km.inertia_)

    plt.figure(figsize=(20,6))

    plt.plot(K, Sum_of_squared_distances, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Sum_of_squared_distances')
    plt.title('Elbow Method For Optimal k')
    plt.show()

In [ ]:
optimal_number_clusters(UK_customers_scaled)

# Question: Where is the elbow forming? 
# identifying clusters: https://medium.com/analytics-vidhya/how-to-determine-the-optimal-k-for-k-means-708505d204eb

In [ ]:
# THE MACHINE LEARNING ALGORITHM

n_clusters = 5 # define the number of clusters, where the elbow if formed

kmeans = KMeans(n_clusters = n_clusters, random_state = 10) # initialize the k-means function
kmeans.fit(UK_customers_scaled) # fit to the summary scaled data

In [ ]:
# predict the clusters for the users

y_kmeans = kmeans.predict(UK_customers_scaled)

In [ ]:
# check the distribution of the clusters

pd.DataFrame(Counter(y_kmeans).most_common()).set_index(0).plot.bar(legend=None)
plt.title('Distribution of Clusters')
plt.xlabel('Cluster ID')
plt.ylabel('# of users belonging to the cluster');

In [ ]:
# to do: insert what else we can do with

In [ ]:
# join this to our data frame

results = pd.DataFrame(summary_wout_outliers.copy())
results.insert(0, 'cluster', y_kmeans)
results.head()

# the customers and their assigned clusters

In [ ]:
Counter(y_kmeans)